{% extends 'base.html' %}
{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h2 class="mb-4 text-center">Cadastrar Usuário</h2>
            <form action="" method="post" class="form">
                {% csrf_token %}
                <div class="form-group">
                    {{user_form.username.errors}}
                    <label for="username">Nome de Usuário</label> <br>
                    {{user_form.username}}
                </div>
                <div class="form-group">
                    {{user_form.password1.errors}}
                    <label for="password">Senha</label> <br>
                    {{user_form.password1}}
                </div>
                <div class="form-group mt-1">
                    {{user_form.password2.errors}}
                    <label for="password2">Confirme sua Senha</label> <br>
                    {{user_form.password2}}
                </div>
                <input type="submit" value="Cadastrar" class="btn btn-primary btn-block mt-3">
            </form>
        </div>
    </div>
</div>
{% endblock %}
